html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  letter-spacing: 1ch;
}
.header {
  height: 100rem;
  background-color: cyan;
  position: relative;
  z-index: 3;
}
.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  text-transform: uppercase;
  font-family: "Anton", sans-serif;
}
.image {
  position: absolute;
  left: 0rem;
  top: 0rem;
}
.vincent {
  position: absolute;
  top: 50%;
  left: 50%;
}
.x {
  position: absolute;
  top: 80%;
  left: 80%;
  height: 20rem;
  z-index: 5;
}
#eric {
  height: 30rem;
  position: absolute;
}
#cat {
  height: 11rem;
  position: absolute;
  top: 100%;
  left: 50%;
}
#ericliu {
  background-color: rgb(5, 133, 133);
  color: black;
  padding: 3rem;
  font-size: 10rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
